# These libs are requested to build common python libs
# If you are an advanced user and you are sure to not use them, you can comment the following lines
wheel
voila
earthengine-api

# updated on 24/08/2023
git+https://github.com/12rambau/sepal_ui.git@sepal_pre_release
scipy

# custom libs
matplotlib
pandas
openpyxl>=3.0.3
plotly
pytest
pygaul
seaborn