# These libs are requested to build common python libs
# If you are an advanced user and you are sure to not use them, you can comment the following lines
wheel
voila
earthengine-api

sepal_ui==2.20.0
rasterio<1.3.11 # Leave it here even if it's already in the sepal_ui requirements. Check https://github.com/openforis/sepal/issues/328

scipy

# custom libs
matplotlib
pandas
openpyxl>=3.0.3
plotly
pytest
pygaul
seaborn

ipyvuetify
ipecharts>=1.0.6